html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whole-app {
  flex-grow: 1;
}

.app-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
