.whole-app {
  background-color: rgb(44, 39, 56);
  padding: 30px;
}

.app-wrapper {
  min-height: 575px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1.25fr 1.25fr 1.25fr;
  grid-template-rows: repeat(2, 1fr);
}
