.whole-app {
  background-color: rgb(44, 39, 56);
  border-radius: 25px;
  height: 650px;
  width: 975px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  height: 575px;
  width: 900px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1.25fr 1.25fr 1.25fr;
  grid-template-rows: repeat(2, 1fr);
}
